# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\adamk\OneDrive\Desktop\Study\prog1\fibHeaps\.idea/dataSources/
/dataSources.local.xml
